name: Lint code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.4.0

    - name: Setup Node.js
      uses: actions/setup-node@v2.5.1
      with:
        node-version-file: .node-version
        check-latest: true

    - name: Install dependencies
      run: npm ci

    - name: Lint code
      run: npm run lint